.hero-modal {
  &__container {
    position: fixed;
    z-index: 999;
    display: flex;
    width: 100vw;
    height: 100vh;

    &--open {
      animation: fadeIn $hero-modal-enter ease-in both;
    }

    &--close {
      animation: fadeOut $hero-modal-exit ease-in both;
    }
  }

  &__content {
    margin: 5rem 10rem 5rem 10rem;
    flex-grow: 1;
    border-radius: 2rem 2rem 2rem 2rem;
    display: flex;
    justify-content: center;
    overflow: hidden;

    &--open {
      animation: zoomIn $hero-modal-enter both;
      animation-delay: $hero-modal-enter;
    }

    &--close {
      animation: zoomOut $hero-modal-exit both;
    }

  }

  &__close-button {
    position: fixed;
    right: 2rem;
    top: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    opacity: 0;
    display: flex;
    padding: 5px;
    cursor: pointer;

    &--open {
      animation: fadeInUp $hero-modal-enter ease-in both;
      animation-delay: $hero-modal-enter;

      & > svg {
        animation: rotateIn $hero-modal-enter ease-in both;
        animation-delay: $hero-modal-enter;
      }
    }

    &--close {
      animation: fadeOutDown $hero-modal-enter ease-in both;

      & > svg {
        animation: rotateOut $hero-modal-enter ease-in both;
      }

    }

    & > svg {
      flex: 1;
      height: auto;

    }
  }
}



