.hero-modal{
  &__container{
    position: fixed;
    z-index: 999;
    display: flex;
    &--open{
      width: 100vw;
      height: 100vh;
      animation: fadeIn $hero-modal-enter ease-in both;
    }
    &--close{
      width: 0;
      height: 0;
    }
  }

  &__content{
    margin: 5rem 10rem 5rem 10rem;
    flex-grow: 1;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    overflow: scroll;
    &--open{
      animation: zoomIn $hero-modal-enter  both ;
      animation-delay: $hero-modal-enter;
    }

  }

  &__close-button{
    position: fixed;
    right: 2rem;
    top: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    opacity: 0;
    display: flex;
    padding: 5px;
    &--open{
      animation: fadeInUp $hero-modal-enter ease-in both;
      animation-delay: $hero-modal-enter;
      & > svg{
        animation: rotateIn $hero-modal-enter ease-in both;
        animation-delay: $hero-modal-enter;
      }
    }
    & > svg{
      flex: 1;
      height: auto;

    }
  }
}



