.image {
    &-content {
        width: 100%;
        height: 100%;
    }

    &-pin {
        border-radius: 50%;
        border: 2px solid $gruvbox-dark-blue-light;
        overflow: hidden;

        &--small {
            width: 2.5rem;
            height: 2.5rem;
        }

        &--medium {
            width: 5rem;
            height: 5rem;
        }

        &--large {
            width: 25rem;
            height: 25rem;
        }
    }
}
