.nav-button {
  &__container {
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0 0 rgba($gruvbox-dark-aqua-dark, 0.5);
      -webkit-animation: pulse 1.5s infinite;
    }
  }

  &__text {
    display: inline-flex;
    align-items: center;
    padding: 1rem;
    font-size: $nav-button-text;
    font-family: $monserrat;
  }
}
