.revolver{
  &__container{
    display: flex;
    flex-direction: row;
    margin: 2rem 0 2rem 0;
  }
  &__words {
    font-family: $raleway;
    font-size: 2rem;
    padding: 2px;
    &--highlight {
      border-bottom: 1px solid;
      min-width: 10rem;

    }
  }
  &__phrase{

    &--enter{
      animation: slideInDown 1.5s forwards;

    }
    &--leave{
      animation: slideOutDown 1.5s forwards;
    }
  }
}

