// COLORS
$color-white: #FFFFFF;
$color-black: #000000;

//Gruvbox Dark Colours
//  Background
$gruvbox-dark-bg: #282828;
$gruvbox-dark-bg0_h: #1d2021;
$gruvbox-dark-bg0_s: #32302f;
$gruvbox-dark-bg1: #3c3836;
$gruvbox-dark-bg2: #504945;
$gruvbox-dark-bg3: #665c54;
$gruvbox-dark-bg4: #7c6f64;

//  Foreground
$gruvbox-dark-fg0: #fbf1c7;
$gruvbox-dark-fg1: #ebdbb2;
$gruvbox-dark-fg2: #d5c4a1;
$gruvbox-dark-fg3: #bdae93;
$gruvbox-dark-fg4: #a89984;

//  Misc
$gruvbox-dark-red-dark: #cc241d;
$gruvbox-dark-red-light: #fb4934;

$gruvbox-dark-green-dark: #98971a;
$gruvbox-dark-green-light: #b8bb26;

$gruvbox-dark-yellow-dark: #d79921;
$gruvbox-dark-yellow-light: #fabd2f;

$gruvbox-dark-blue-dark: #458588;
$gruvbox-dark-blue-light: #83a598;

$gruvbox-dark-purple-dark: #b16286;
$gruvbox-dark-purple-light: #d3869b;

$gruvbox-dark-aqua-dark: #689d6a;
$gruvbox-dark-aqua-light: #8ec07c;

$gruvbox-dark-orange-dark: #d65d0e;
$gruvbox-dark-orange-light: #fe8019;


$gruvbox-dark-gray-dark: #928374;
$gruvbox-dark-gray-light: #a89984;

//Gruvbox Light Colours
//  Background
$gruvbox-light-bg: #fbf1c7;
$gruvbox-light-bg0_h: #f9f5d7;
$gruvbox-light-bg0_s: #f2e5bc;
$gruvbox-light-bg1: #ebdbb2;
$gruvbox-light-bg2: #d5c4a1;
$gruvbox-light-bg3: #bdae93;
$gruvbox-light-bg4: #a89984;

//  Foreground
$gruvbox-light-fg0: #282828;
$gruvbox-light-fg1: #3c3836;
$gruvbox-light-fg2: #504945;
$gruvbox-light-fg3: #665c54;
$gruvbox-light-fg4: #7c6f64;

//  Misc
$gruvbox-light-red-dark: #9d0006;
$gruvbox-light-red-light: #cc241d;

$gruvbox-light-green-dark: #79740e;
$gruvbox-light-green-light: #98971a;

$gruvbox-light-yellow-dark: #b57614;
$gruvbox-light-yellow-light: #d79921;

$gruvbox-light-blue-dark: #076678;
$gruvbox-light-blue-light: #458588;

$gruvbox-light-purple-dark: #8f3f71;
$gruvbox-light-purple-light: #b16286;

$gruvbox-light-aqua-dark: #427b58;
$gruvbox-light-aqua-light: #689d6a;

$gruvbox-light-orange-dark: #af3a03;
$gruvbox-light-orange-light: #d65d0e;


$gruvbox-light-gray-dark: #7c6f64;
$gruvbox-light-gray-light: #928374;

