.theme-dark{
  &.app-container{
    background-color: $gruvbox-dark-bg;
  }
  &.revolver{
    &__words{
      color: $gruvbox-dark-fg0;
      &--highlight{
        border-color: $gruvbox-dark-red-dark;
      }
    }
    &__phrase{
      color: $gruvbox-dark-red-light;

    }
  }


  &.image-pin__container{
    border-color: $gruvbox-dark-blue-light;
  }

  &.nav-button{
    &__container{
      background-color: $gruvbox-dark-aqua-dark;
    }
    &__text{
      color: $gruvbox-dark-fg0;
    }
  }

  &.hero-modal{
    &__container{
      background: rgba($gruvbox-dark-bg0_s, 0.9);
    }
    &__content{
      background: $gruvbox-dark-bg0_h;
    }
    &__close-button{
      background: $gruvbox-dark-bg4;

      & > svg{
        color: $gruvbox-dark-fg0;
      }
    }
  }

  &.summary{
    &__container{
      color: $gruvbox-dark-fg0;
    }

    &__content{
      & h1 {
        color: $gruvbox-dark-orange-light;
      }

    }
  }
}